* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}



.sidebar {
    background: #85712f;
    color: #fff;
    width: 220px;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}
.main {
    margin-left: 220px; /* same width as the sidebar */
    padding: 30px;
    background-color: #f4f4f4;
    flex: 1;
    min-height: 100vh;
}

.main h2 {
    margin-top: 0;
}


.cards {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details {
    display: flex;
    gap: 20px;
}

.details .card {
    flex: 1;
}

.total-sale .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#38a169 0% 70%, #e2e8f0 70% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}